html {
	box-sizing: border-box
}

*,
*:before,
*:after {
	box-sizing: inherit
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

html {
	animation: opac 0.8s
}

@keyframes opac {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

body {
	font-family: "Raleway", Arial, sans-serif;
	color: #3a3a3a;
	animation: opac 1s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.TitleWeb {
	padding: 30px 25px;
	width: 100%;
	background: <?php echo trim(preg_replace('/\s\s+/', ' ', $config[1])); ?>;
	text-align: center;
	font-family: Verdana, sans-serif;
}


/*Hide for ... large, medium, small*/
@media (min-width:993px) {
	.hide-large {
		display: none;
	}
}

@media (max-width:992px) and (min-width:691px) {
	.hide-medium {
		display: none;
	}
}

@media (max-width: 690px) {
	.hide-small {
		display: none;
	}
}

h3 {
	font-weight: 400;
	margin: 10px 0;
}