RewriteEngine On

RewriteRule ^css/styles.css$ css/styles.php [L]
RewriteRule ^Inscription$ inscription.php [L]
RewriteRule ^Validation/(\w+)$ validation.php?code=$1 [L]
RewriteRule ^Admin$ admin.php [L]
RewriteRule ^Login$ login.php [L]